/* Modified from https://github.com/yellowsink/Diskai */

/**********************************\
|          ig compat with          |
|  https:// github.com/NYRI4/Comfy  |
|      ask past me if this is      |
|        actually useful lol       |
\**********************************/
.avatarWrapper-1B9FTW {
  --avatar-bottom: 5px;
}

:root {
  /*******************************\
	|            colors            |
	\*******************************/
  /*  Lunar Witch colors */
  --black: 14, 19, 88;
  --red: 155, 66, 113;
  --green: 111, 164, 126;
  --yellow: 132, 124, 104;
  --blue: 51, 71, 116;
  --magenta: 169, 94, 109;
  --cyan: 42, 151, 177;
  --white: 128, 128, 130;
  --bright-black: 52, 47, 83;
  --bright-red: 255, 77, 145;
  --bright-green: 152, 216, 149;
  --bright-yellow: 153, 129, 112;
  --bright-blue: 68, 95, 155;
  --bright-magenta: 245, 169, 184;
  --bright-cyan: 91, 206, 250;
  --bright-white: 191, 191, 192;
  --background: 1, 2, 6;
  --foreground: 208, 208, 239;

  /*******************************\
	|        VERY IMPORTANT         |
	|    CUSTOMISATION VARIABLES    |
	\*******************************/
  --accent-color: rgb(var(--cyan));
  --accent: (var(--accent-color));
  --accent-contrast: rgb(var(--foreground));
  --mention-color: rgb(var(--magenta));
  --mention-text: rgb(var(--bright-white));
  --font-code: "Liga SFMono Nerd Font", Consolas, "Andale Mono WT",
    "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
    "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  --font-display: "IBM Plex Sans Condensed", "Arial Narrow", Tahoma, "gg sans",
    "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-primary: "IBM Plex Sans Condensed", "Arial Narrow", Tahoma, "gg sans",
    "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*******************************\
	|      User Status colors      |
	\*******************************/
  --rs-online-color: rgb(var(--green)) !important;
  --rs-idle-color: rgb(var(--yellow)) !important;
  --rs-dnd-color: rgb(var(--red)) !important;
  --rs-offline-color: rgb(var(--white)) !important;
  --rs-streaming-color: rgb(var(--magenta)) !important;
  --rs-invisible-color: rgb(var(--white)) !important;
}

.theme-dark {
  /*******************************\
	|          BG colors           |
	\*******************************/

  /* main BG colors */
  --background-primary: rgb(var(--background));
  --background-mobile-primary: var(--background-primary);
  --background-floating: rgb(var(--background));
  --background-secondary: rgba(var(--black), 0.5);
  --background-secondary-alt: rgba(var(--black), 0.2);
  --background-mobile-secondary: var(--background-secondary);
  --background-tertiary: rgb(var(--bright-black));
  --background-accent: rgb(var(--background));
  --background-modifier-selected: rgb(var(--bright-black));
  --background-modifier-hover: rgba(var(--black), 0.4);
  /* textarea colors */
  --channeltextarea-background: rgb(var(--bright-black) bright-);
  /* fix quick switcher textarea color */
  --deprecated-quickswitcher-input-background: var(
    --channeltextarea-background
  );
  --deprecated-card-bg: rgb(var(--bright-black));
  /* Text colors */
  /* main Text colors */
  --text-normal: rgb(var(--foreground));
  --text-muted: rgb(var(--bright-white));
  --text-link: rgb(var(--bright-blue));
  /* channels */
  --channels-default: var(--text-normal);
  --interactive-active: var(--accent-color);
  --interactive-active: var(var(--text-normal));
  --interactive-muted: var(--text-muted);
  /* headers */
  --header-primary: var(--accent-color);
  --header-secondary: var(--text-normal);
  /* Wait this is actually the stock value */

  /* Danger Button */
  --button-outline-danger-border-hover: rgb(var(--red));
  --button-outline-danger-border-active: rgb(var(--red));
  --button-danger-background-active: rgb(var(--bright-red));
  --button-secondary-background: rgb(var(--bright-black));
  --button-secondary-background-active: rgb(var(--black));
  --button-secondary-background-disabled: rgb(var(--white));
  --button-secondary-background-hover: var(--accent-color);

  --input-background: rgb(var(--bright-black));
  /* Controls */
  --control-radio-dot: rgb(var(--magenta));
  /* Radio button */
  --control-checkbox-checked: rgb(var(--magenta));
  /* Checked checkbox */
  --control-slider-bar: rgb(var(--magenta));
  /* Slider bar */
  --control-button: rgb(var(--magenta));
  /* Button */
  --control-button-muted: rgb(var(--bright-magenta));
  /* Muted Button */
  --control-button-yellow: rgb(var(--yellow));
  /* Yellow Button */
  --radio-group-dot-foreground: var(--control-radio-dot);
  /* Radio button dot */

  /* Misc */
  --background-mentioned: rgba(var(--yellow), 20%);
  --background-mentioned-hover: rgba(var(--yellow), 15%);

  /* Add Friend button, maybe others? */
  --status-positive-background: rgb(var(--green));
  --status-positive-text: rgb(var(--foreground));

  --status-danger: rgb(var(--bright-red));
}

.theme-light {
  /*******************************\
	|          BG colors           |
	\*******************************/

  /* main BG colors */
  --background-primary: rgb(var(--bright-white));
  --background-secondary: #ddddd5;
  --background-mobile-secondary: var(--background-secondary);
  --background-tertiary: var(--foreground);
  --background-accent: #bfbfbf;
  /* --background-modifier-accent: #ffffff18; */
  /* textarea colors */
  --channeltextarea-background: #ccccce;
  /* fix quick switcher textarea color */
  --deprecated-quickswitcher-input-background: var(
    --channeltextarea-background
  );

  /* Text colors */
  /* main Text colors */
  --text-normal: rgb(var(--black));
  --text-muted: rgb(var(--bright-black));
  --text-link: #2775bd;
  /* channels */
  --channels-default: var(--text-muted);
  --interactive-active: var(--accent-color);
  --interactive-muted: #ccc;
  /* headers */
  --header-primary: var(--accent-color);
  --header-secondary: #666;
  /* Wait this is actually the stock value */

  /* Controls */
  --control-radio-dot: rgb(var(--magenta));
  /* Radio button */
  --control-checkbox-checked: rgb(var(--magenta));
  /* Checked checkbox */
  --control-slider-bar: rgb(var(--magenta));
  /* Slider bar */
  --control-button: rgb(var(--magenta));
  /* Button */
  --control-button-muted: rgb(var(--magenta));
  /* Muted Button */
  --control-button-yellow: rgb(var(--yellow));
  /* Yellow Button */
  --radio-group-dot-foreground: var(--control-radio-dot);
  /* Radio button dot */

  /* Misc */
  --background-mentioned: #fa84190d;
  --background-mentioned-hover: #fd891c14;
}

/*******************************\
|     Bits discord decided      |
|   not to use variables for    |
\*******************************/
.container-2cd8Mz {
  background-color: var(--background-accent) !important;
}

/*******************************\
|            Header             |
\*******************************/

.container-ZMc96U.themed-Hp1KC_ {
  background-color: var(--background-secondary);
}

.children-3xh0VB::after {
  display: none;
}

/* Channel hashtag icon */
.children-3xh0VB .iconWrapper-2awDjA path[fill="currentColor"] {
  fill: var(--accent-color);
}

.iconWrapper-2awDjA.selected-29KTGM:hover path {
  fill: var(--accent-color);
}

.iconWrapper-2awDjA.selected-29KTGM:hover {
  filter: brightness(1.2);
}

/*******************************\
|            Modals             |
\*******************************/

/* Upload modal */
.uploadModal-2ie9O_ {
  background-color: var(--background-secondary) !important;
}

.footer-VCsJQY {
  background-color: var(--background-primary) !important;
}

/* Keyshortcuts modal */
.keyboardShortcutsModal-2CRmCm {
  background-color: var(--background-primary) !important;
}

/* Delete modal */
.root-g14mjS {
  background-color: var(--background-secondary) !important;
}

.message-G6O-Wv {
  background-color: var(--background-tertiary) !important;
}

/* stop message being undiscernable from BG */
.footer-31IekZ {
  background-color: var(--background-primary) !important;
}

/* Autocomplete */
.autocomplete-3NRXG8 {
  background-color: var(--background-secondary) !important;
}

.categoryHeader-OpJ1Ly,
.selected-3H3-RC {
  background-color: var(--background-tertiary) !important;
}

/* Quick Switcher "PROTIP" */
.inline-1zjmuk .pro-3GwLMX {
  color: var(--accent-color) !important;
}

/* TODO: figure out how to theme the search popup: https:// canary.discord.com/channels/538759280057122817/755015869914152981/805079836720234526 */
*/ .container-2McqkF {
  background-color: var(--background-secondary) !important;
}

.option-2KkUJO::after {
  display: none;
}

/* Notification bell strikethrough */
.strikethrough-3Wiitd {
  color: rgb(var(--red));
}

/*******************************\
|           Settings            |
\*******************************/
/* settings close icon */
.keybind-13vtq8 {
  color: rgb(var(--red)) !important;
}

.closeButton-PCZcma {
  border-color: rgb(var(--red)) !important;
}

/* settings remove text */
.lookLink-15mFoz.colorPrimary-2AuQVo {
  color: rgb(var(--red));
}

/* Currently speaking bar */
.userSettingsVoice-1_dzjw .sliderBar-2T41Pw.speaking-NGQNT9 {
  background-color: rgb(var(--green));
}

/* Changelog text */
.improved-1NJK-y {
  color: rgb(var(--magenta));
}

.progress-YsDrV- {
  color: rgb(var(--yellow));
}

/* Hypesquad banners */
.membershipDialogHouse1-R8jb0l {
  /* Shoutouts to Remko#0999 for giving me the Bravery CSS class */
  background-color: rgb(var(--magenta));
}

.membershipDialogHouse2-2W27iJ {
  /* Shoutouts to CastIce#3081 for giving me the Brilliance CSS class */
  background-color: rgb(var(--bright-red));
}

.membershipDialogHouse3-1E5AN4 {
  /* Balance */
  background-color: var(--turquoise);
}

/*  Make stuff WIDE */
.sidebarRegion-1VBisG {
  flex: 0;
}

.sidebarRegionScroller-FXiQOh {
  padding-left: 5rem;
}

.contentColumn-1C7as6 {
  max-width: 90rem;
}

.hero-1aNo0v {
  max-width: unset;
}

@media (max-width: 1800px) {
  .featureGrid-SSlfD0 {
    grid-template-columns: repeat(3, 206px);
  }
}

/*  Add game popup */
.addGamePopout-3yePJc {
  background-color: var(--background-secondary) !important;
}

.select-1YfRS9 {
  background-color: var(--background-primary);
}

.css-3vaxre-menu {
  background-color: var(--background-tertiary);
}

/*  Playing game banner */
.notDetected-2HEmAp {
  background-color: var(--background-tertiary) !important;
}

.nowPlaying-zBamm2 {
  background-color: rgb(var(--green)) !important;
}

/* red outline settings buttons */
.lookOutlined-3yKVGo.colorRed-rQXKgM {
  color: rgb(var(--red));
  border-color: rgb(var(--red));
}

/* Nitro settings button */
[aria-controls="Discord Nitro-tab"] {
  color: rgb(var(--magenta)) !important;
}

[aria-controls="Discord Nitro-tab"]:hover,
[aria-controls="Discord Nitro-tab"][aria-selected="true"] {
  color: var(--interactive-hover) !important;
  background-color: rgb(var(--magenta)) !important;
}

/* Filled buttons*/
.lookFilled-yCfaCM {
  color: var(--text-normal) !important;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
  background-color: var(--control-button) !important;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
  background-color: var(--control-button-muted) !important;
}

.lookFilled-yCfaCM.colorYellow-Pgtmch {
  background-color: var(--control-button-yellow) !important;
}

.lookFilled-yCfaCM.colorRed-rQXKgM {
  background-color: rgb(var(--red)) !important;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79 {
  background-color: rgb(var(--bright-green)) !important;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled:hover,
.lookFilled-yCfaCM.colorYellow-Pgtmch:hover,
.lookFilled-yCfaCM.colorRed-rQXKgM:hover,
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
  filter: brightness(0.85);
}

.lookFilled-yCfaCM,
.lookInverted-2mDUMi {
  transition: background-color 0.17s ease, color 0.17s ease, filter 0.17s ease;
}

/* Inverted buttons */
.lookInverted-2mDUMi.colorYellow-Pgtmch {
  color: rgb(var(--yellow));
  background-color: rgb(var(--white));
}

/* Blurple sliders */
.barFill-2Bh7CX {
  background-color: var(--control-slider-bar);
}

/* Checkboxes */
.checkbox-f1HnKB.checked-1pZh2h {
  background-color: var(--control-checkbox-checked) !important;
  border-color: var(--control-checkbox-checked) !important;
}

.colorDefault-CDqZdO .checkbox-hADx5o,
.colorDefault-CDqZdO.focused-3qFvc8 .check-3HZJs4 {
  color: var(--control-checkbox-checked);
}

.colorDefault-CDqZdO.focused-3qFvc8 .checkbox-hADx5o,
.colorDefault-CDqZdO:not(.focused-3qFvc8) .check-3HZJs4 {
  color: var(--accent-contrast) !important;
}

/* Switches */
.container-2nx-BQ {
  background-color: rgb(var(--green)) !important;
}

/*  Janky but it'll do */

/* Beta text */
.beta-3smTDE {
  color: rgb(var(--red));
}

/* Nitro Features */
.featureEmoji-cnSD0D .featureTitle-3N9Stg {
  color: rgb(var(--yellow));
}

.featureProfile-2h92hd .featureTitle-3N9Stg {
  color: rgb(var(--green));
}

.featurePremiumGuild-2uV6-N .featureTitle-3N9Stg {
  color: rgb(var(--cyan));
}

.featureBadge-1FNGAH .featureTitle-3N9Stg {
  color: rgb(var(--bright-magenta));
}

.featureUploadSize-3k1zif .featureTitle-3N9Stg {
  color: rgb(var(--blue));
}

.featureGoLive-15Pf6l .featureTitle-3N9Stg {
  color: rgb(var(--bright-red));
}

/* Notification Settings */
.wrapper-SdcMKg {
  border-color: rgb(var(--magenta));
}

.wrapper-SdcMKg.disabledSelected-1jqfsw {
  border-color: rgb(var(--red));
}

.disabled-35mc5w:hover {
  color: rgb(var(--red));
}

.selected-18Wszc.disabled-35mc5w {
  color: rgb(var(--red));
}

.option-1QI4c9:hover {
  background-color: rgb(var(--magenta));
}

.selected-18Wszc.option-1QI4c9 {
  border-color: rgb(var(--magenta));
  background-color: rgb(var(--magenta));
}

/* That damn close button */
.closeButton-PCZcma path {
  fill: rgb(var(--red));
}

/* Yellow "reload required" banner in powercord updater */
.cardWarning-WRe-Qa {
  background-color: rgb(var(--yellow));
  border-color: rgb(var(--yellow));
}

.tipTitle-3FYEQp,
/* Loading splash screen "DID YOU KNOW" text */
/* Loading splash screen "Tweet Us" and "Server Status" text & icons */
.container-ZMc96U.themed-Hp1KC_ .anchor-1MIwyf:not([href="https:// support.discord.com"]),
*/ .container-ZMc96U.themed-Hp1KC_ .anchor-1MIwyf:not([href="https:// support.discord.com"]) path,
*/ .wordmark-2u86JB path

/* Discord wordmark in top left */ {
  color: var(--accent-color);
}

/* Discord logo in top left */
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: var(--accent-color);
  color: var(--accent-contrast);
}

/* Explore and Add server icons */
/* .circleIconButton-1QV--U {
  path {
    fill: var(--accent-color);
  }

  &.selected-1JjBPm {
    background-color: var(--accent-color) !important;
    color: var(--accent-contrast) !important;

    path {
      fill: var(--accent-contrast) !important;
    }
  }
} */

/* Explore selected category */
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
  background-color: var(--accent-color);
  color: var(--accent-contrast);
}

/* Context menus */
/* All buttons */
.colorDefault-CDqZdO.focused-3qFvc8:not(.colorDanger-3n-KnP) {
  background-color: var(--accent-color);
  color: var(--accent-contrast);
}

/* Invite to server */
#guild-header-popout-invite-people.focused-3qFvc8 {
  background-color: rgb(var(--magenta));
  color: var(--text-normal);
}

#guild-header-popout-invite-people:not(.focused-3qFvc8) {
  color: rgb(var(--magenta));
}

#guild-header-popout-invite-people:not(.focused-3qFvc8) path {
  fill: rgb(var(--magenta));
}

/* Nitro boots */
#guild-header-popout-premium-subscribe.focused-3qFvc8 {
  background-color: rgb(var(--bright-red));
  color: var(--text-normal);
}

#guild-header-popout-premium-subscribe:not(.focused-3qFvc8) path {
  fill: rgb(var(--bright-red));
}

/* Danger actions => delete message */
.colorDanger-3n-KnP,
.colorDanger-3n-KnP .checkbox-hADx5o,
.colorDanger-3n-KnP .radioSelection-1UHp0b {
  color: rgb(var(--red));
}

.colorDanger-3n-KnP.focused-3qFvc8 {
  background-color: rgb(var(--red));
  color: var(--text-normal);
}

.containerDefault-YUSmu3.selected-2TbFuo .iconItem-1EjiK0,
.containerDefault-YUSmu3:hover .iconItem-1EjiK0 {
  opacity: 1;
}

.iconItem-1EjiK0 {
  display: block;
  opacity: 0;
}

/* The rectangle message box breaks the upload dialog border-radius */
.channelTextAreaUpload-30SRDh .scrollableContainer-15eg7h {
  border-radius: 8px;
}

/* LIVE tag in VC */
.liveSmall-1Urjcy {
  background-color: rgb(var(--red)) !important;
}

/* Fix the status picker popup not using the variables (discord pls fix) */
#status-picker-online .status-2DiCMd {
  background-color: var(--rs-online-color) !important;
}

#status-picker-idle .status-2DiCMd {
  background-color: var(--rs-idle-color) !important;
}

#status-picker-dnd .status-2DiCMd {
  background-color: var(--rs-dnd-color) !important;
}

#status-picker-invisible .status-2DiCMd {
  background-color: var(--rs-invisible-color) !important;
}

/* Changelog links are stubborn as to colors */
.content-s2SEQO a {
  color: var(--text-link);
}

/* Invite to this channel button */
.iconItem-1EjiK0 path {
  fill: var(--accent-color);
}

/* File download button */
.wrapperAudio-1Bzv_Z .metadataDownload-3IY84h path,
.downloadButton-2HLFWN path {
  fill: var(--text-link);
}

/* Message pin */
.content-vSHmMD .anchor-1MIwyf {
  color: var(--text-link);
}

/* Mentions */
.mentioned-Tre-dv::before {
  background-color: rgb(var(--yellow));
}

/* Version message */
.info-1sUqUG .colorMuted-20987_:last-child::after {
  content: "Diskai 1.2 (git master)";
  display: block;
  text-transform: none;
}

/*  Edit message buttons */
.operations-3q3u6E > a {
  color: var(--accent-color);
}

/*  Fix announcement channel box with bettermessagebox */
.wrapper-2SplAX {
  margin: 0;
  padding-bottom: 16px + 1px;
  /*  default value, and 1px extra to make it fit with the userarea */
  border-radius: 0;
  background-color: var(--channeltextarea-background);
}

/*  Unreads PROTIP */
.colorStatusGreen-2HKYOW {
  color: var(--accent-color);
}

/*  This class was painful to get */
/*  HTML for those interested: <span class="inner-1gJC7_"><span class="wanderingCubesItem-WPXqao"></span><span class="wanderingCubesItem-WPXqao"></span></span> */
/*  Loading cubes */
.wanderingCubesItem-3Us-UG {
  background-color: rgb(var(--magenta));
}

/*  Command autocomplete parameters */
.colorHeaderPrimary-jN_yGr.active-WHsd77 {
  background-color: var(--header-primary) !important;
}

/*  New msg bar, bot tag */
.newMessagesBar-1hF-9G,
.botTag-2mryIa {
  background-color: rgb(var(--magenta));
}

/*******************************\
|      stuff stolen from        |
|     #css-snippets in the      |
|     powercord discord :P      |
\*******************************/

/*
Better message box
courtesy of Jenny#0002 on powercord discord
https:// discord.com/channels/538759280057122817/755005803303403570/804665923801579541  */
*/ .form-3gdLxP {
  padding: 0px;
}

.inner-NQg18Y {
  padding-top: 4px;
}

.channelTextArea-1FufC0 {
  margin-bottom: 0px;
}

.base-3bcbY3 {
  top: -24px;
  background-color: var(--background-primary);
}

.scrollableContainer-15eg7h {
  border-radius: 0px;
  min-height: 53px;
}

/*
Jump to bottom pill
by me!
https:// discord.com/channels/538759280057122817/755005803303403570/805724588277104680 */
*/ .jumpToPresentBar-1cEnH0 .barButtonMain-2GIx4o {
  display: none;
}

.jumpToPresentBar-1cEnH0 {
  display: block;
  background-color: transparent;
  right: 12px;
}

.jumpToPresentBar-1cEnH0 .barButtonAlt-TQoCdZ {
  float: right;
  bottom: 1.6rem;
  border-radius: 0.7rem 0 0 0.7rem;
  background-color: var(--background-tertiary);
}

/*
Drop shadow behind images, video, codeblocks, and other embeds
by Benny#9876
https:// discord.com/channels/538759280057122817/755005803303403570/801919477918597211 */
*/ .embedWrapper-1MtIDg {
  box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.3);
}

code {
  box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.3);
}

/*
Bigger popup avatars
by wathhr#1459
https://discord.com/channels/538759280057122817/755005803303403570/797655264199180348 
*/
.header-QKLPzZ > .avatar-3EQepX.wrapper-1VLyxH {
  top: 5px;
}

.avatarWrapperNormal-3wFMbf.avatarWrapper-3H_478 > .wrapper-1VLyxH,
.header-QKLPzZ > .avatar-3EQepX.wrapper-1VLyxH,
.avatarHint-1qgaV3 {
  width: 100px !important;
  height: 100px !important;
}

/* Shrink NavBar */
.listItem-3SmSlK {
  width: 60px;
}

.guilds-2JjMmN {
  width: 60px;
}

.svg-2ifYOU {
  width: 36px;
  height: 36px;
}

.wrapper-2PSQCG {
  width: 36px;
  height: 36px;
}

.wrapper-z5ab_q {
  height: 2.5rem;
}

.peopleListItem-u6dGxF {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  height: 2.5rem !important;
}

.title-x4dI75 {
  margin: 4px;
  padding: 0 8px;
}

.searchBar-2aylmZ {
  margin: 4px 8px;
  padding: 0 8px;
}

.container-ZMc96U {
  padding: 0;
}

.scroller-hE2gWq {
  padding: 8px;
}

.padded-2NSY6O {
  padding: 8px;
}

.content-1gYQeQ {
  padding: 0 6px;
  margin-left: 8px;
}

.mainContent-20q_Hp {
  padding: 0;
}

.children-1MGS9G {
  margin-top: 0;
}

.container-ZMc96U {
  height: 36px;
}

.header-3OsQeK {
  padding: 6px 12px;
}

.layout-1LjVue {
  height: 36px;
}

.newMessagesBar-1hF-9G {
  height: 24px;
}

.content-yjf30S {
  padding-left: 4px;
}

.sidebar-nqHbhN {
  padding: 0.5rem 6px;
  width: 10em;
}
.sidebar-1tnWFu {
  width: 12em;
}

.sidebarRegionScroller-FXiQOh {
  padding: 0;
}

.side-1lrxIh .item-2GWPIy {
  padding: 2px 6px;
  width: 10rem;
}

.item-2GWPIy {
  font-size: 14px;
}

.contentColumn-1C7as6 {
  max-width: 40rem;
}

.contentColumnDefault-3eyv5o {
  margin: auto;
}

.layout-1LjVue {
  height: 2rem;
  padding: 2px 0;
}

.text-MPIeXO {
  font-size: 0.9em;
}

.text-3j8t_e {
  font-size: 12px;
  line-height: 1em;
}

.iconContainer-21RCa3 {
  margin-right: 0.2rem;
}

.wrapper-NhbLHG {
  height: 1.5em;
}

.colorDefault-2_rLdz.focused-3LIdPu {
  background-color: rgb(var(--bright-black));
  color: rgb(var(--foreground));
}

.colorBrand-26tvUE {
  color: var(--accent-color);
  font-weight: bold;
}

.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover {
  padding: 0.5rem;
  margin: 0 0.5rem;
}

.accountProfileCard-lbN7n- {
  background-color: var(--background-primary);
  box-shadow: 1px 1px 8px 2px rgba(var(--foreground), 0.25);
}
.fieldList-in8WkP {
  background-color: var(--background-tertiary);
  padding: 0.5em;
}

.lookFilled-1H2Jvj.colorBrand-2M3O3N {
  color: var(--text-normal);
  background-color: rgb(var(--bright-black));
}
userPopoutOuter-1OHwPL {
  box-shadow: 1px 1px 8px 2px rgba(var(--foreground), 0.25);
}
.subtext-14b69p {
  font-size: 0.75em;
  line-height: 1em;
}
.name-2m3Cms {
  font-size: 1em;
  line-height: 1.5em;
}
.content-66wMin,
.name-2m3Cms {
  font-size: 14px;
}
.avatar-1HDIsL .wrapper-3Un6-K .svg-1G_H_8 {
  width: 24px;
}
.avatar-2MSPKk .svg-1G_H_8 {
  width: 24px;
}
.avatar-1HDIsL {
  width: 24px;
  margin-right: 0.25em;
}
.avatar-1EWyVD .svg-1G_H_8 {
  width: 24px;
}
.layout-1LjVue {
  height: 1.5em;
  padding: 0.2em;
}
.interactive-iyXY_x {
  /* background: rgba(var(--bright-black), 0.15); */
  border-radius: 8px;
  /* padding: 2px; */
}
.container-32HW5s {
  margin: 1px 0;
}
.wrapper-2PSQCG {
  width: 2em;
  height: 2rem;
}
.wrapper-z5ab_q {
  height: 2em;
  width: 2em;
}
.svg-2ifYOU {
  height: 2em;
  width: 2em;
}
.listItem-3SmSlK {
  width: 3em;
  align-items: center;
}
.guilds-2JjMmN {
  width: 3em;
  display: flex;
}
.scroller-3X7KbA div:has(#vc-friendcount) {
  margin-bottom: 0.25em;
  line-height: 0.5em;
  font-size: 0.5em;
}
.container-YkUktl .avatar-1EWyVD {
  width: 1.5em !important;
}
.withTagAsButton-OsgQ9L,
.withTagless-10ooWt {
  min-width: 3em;
  padding-left: 2px;
}
.button-12Fmur {
  width: 20px;
  height: 36px;
}
.nameTag-sc-gpq {
  padding: 0 0 0 6px !important;
  margin-right: 0;
}
.title-338goq {
  font-size: 12px;
  line-height: 1.2em;
}
.app-2CXKsg button {
  margin: 0 -1px;
}

.hoverRoll-2XwpoF {
  font-size: 0.8em;
  line-height: 1em;
}
.avatarWrapper-1B9FTW {
  align-items: center;
}

.wrapper-3Un6-K.avatar-1EWyVD {
  height: 32px !important;
}
.theme-dark .container-YkUktl {
  margin: -2px 0;
  padding: 0 6px;
}
.wrapper-3Un6-K {
  height: 36px !important;
  align-content: center;
  display: flex;
}
.avatar-2MSPKk {
  margin: 0 0.5em 0 0;
  width: 24px !important;
}
.button-12Fmur {
  width: 24px;
  height: 32px;
}
.container-YkUktl {
  height: 4em;
  font-size: 12px;
}
.container-ZMc96U {
  height: 2.25em;
}
.searchBar-3TnChZ {
  height: 2.25em;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  height: 2em;
  font-size: 12px;
  line-height: 1em;
}
.medium-2NClDM.iconLayout-3Bjizv {
  border-radius: 0 8px 8px 0;
  box-shadow: 0 0 3px 1px rgba(var(--bright-cyan), 0.75);
}
