.density-compact {
    --space-xxs: var(--space-0);
    --space-xs: var(--space-4);
    --space-sm: var(--space-6);
    --space-md: var(--space-10);
    --space-lg: var(--space-12);
    --space-xl: var(--space-16);
    --space-xxl: var(--space-20);
}

:root {
    --chat-avatar-size: 36px;
    --chat-markup-line-height: 1.25em;
    /* font-size: 18px !important;  */
    --font-primary: "Atkinson Hyperlegible", "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    --space-8: 6px;
    --space-16: 12px;  
}

div[class*="groupStart__"] {
--custom-group-spacing-start: 0.75rem !important;
}

.visual-refresh {
    --brand-500:  #74689f;
}

.visual-refresh.theme-midnight {
    --background-base-lowest: #1e1b30;
}

.theme-midnight {
    ---status-danger: #a04558;
    --status-danger-background: #ed8096;
}
.visual-refresh.density-compact div[class*="layout__"] {
    height: 32px;
}
