<svg width="210mm" height="210mm" version="1.1" viewBox="0 0 210 297" xmlns="http://www.w3.org/2000/svg">
    <rect x="27.59" y="17.22" width="22.434" height="24.093" fill="#{{ base01 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="38.807182" y="27.736858" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="38.807182" y="27.736858" text-align="center">Base01</tspan><tspan x="38.807182" y="33.028519" text-align="center">#{{ base01 }}</tspan></text>
    <rect x="80.395" y="17.22" width="22.434" height="24.093" fill="#{{ base03 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="91.61171" y="27.736858" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="91.61171" y="27.736858" text-align="center">Base03</tspan><tspan x="91.61171" y="33.028519" text-align="center">#{{ base03 }}</tspan></text>
    <rect x="53.993" y="17.22" width="22.434" height="24.093" fill="#{{ base02 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="65.20945" y="27.736858" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="65.20945" y="27.736858" text-align="center">Base02</tspan><tspan x="65.20945" y="33.028519" text-align="center">#{{ base02 }}</tspan></text>
    <rect x="106.8" y="17.22" width="22.434" height="24.093" fill="#{{ base04 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="118.01398" y="27.736858" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="118.01398" y="27.736858" text-align="center">Base04</tspan><tspan x="118.01398" y="33.028519" text-align="center">#{{ base04 }}</tspan></text>
    <rect x="133.2" y="17.125" width="22.434" height="24.093" fill="#{{ base05 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="144.41623" y="27.736858" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="144.41623" y="27.736858" text-align="center">Base05</tspan><tspan x="144.41623" y="33.028519" text-align="center">#{{ base05 }}</tspan></text>
    <rect x="159.6" y="17.22" width="22.434" height="24.093" fill="#{{ base06 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="170.8185" y="27.736858" fill="#{{ base00 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="170.8185" y="27.736858" text-align="center">Base06</tspan><tspan x="170.8185" y="33.028519" text-align="center">#{{ base06 }}</tspan></text>
    <rect x="186" y="17.22" width="22.434" height="24.093" fill="#{{ base07 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="197.22076" y="27.736858" fill="#{{ base00 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="197.22076" y="27.736858" text-align="center">Base07</tspan><tspan x="197.22076" y="33.028519" text-align="center">#{{ base07 }}</tspan></text>
    <rect x="27.59" y="45.148" width="22.434" height="24.093" fill="#{{ base09 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="38.807182" y="55.801239" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:28.5409;white-space:pre" xml:space="preserve"><tspan x="38.807182" y="55.801239">Base09
</tspan><tspan x="38.807182" y="61.092864">#{{ base09 }}</tspan></text>
    <rect x="80.395" y="45.148" width="22.434" height="24.093" fill="#{{ base0B }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="91.61171" y="55.801239" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:28.7215;white-space:pre" xml:space="preserve"><tspan x="91.61171" y="55.801239">Base0B
</tspan><tspan x="91.61171" y="61.092864">#{{ base0B }}</tspan></text>
    <rect x="53.993" y="45.148" width="22.434" height="24.093" fill="#{{ base0A }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="65.20945" y="55.801239" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:32.8829;white-space:pre" xml:space="preserve"><tspan x="65.20945" y="55.801239">Base0A
</tspan><tspan x="65.20945" y="61.092864">#{{ base0A }}</tspan></text>
    <rect x="106.8" y="45.148" width="22.434" height="24.093" fill="#{{ base0C }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="118.33716" y="55.801239" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:22.3718;white-space:pre" xml:space="preserve"><tspan x="118.33716" y="55.801239">Base0C
</tspan><tspan x="118.33716" y="61.092864">#{{ base0C }}</tspan></text>
    <rect x="133.2" y="45.148" width="22.434" height="24.093" fill="#{{ base0D }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="144.73941" y="55.801239" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:31.6428;white-space:pre" xml:space="preserve"><tspan x="144.73941" y="55.801239">Base0D
</tspan><tspan x="144.73941" y="61.092864">#{{ base0D }}</tspan></text>
    <rect x="159.6" y="45.148" width="22.434" height="24.093" fill="#{{ base0E }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="171.14168" y="55.801239" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:58.174;white-space:pre" xml:space="preserve"><tspan x="171.14168" y="55.801239">Base0E
</tspan><tspan x="171.14168" y="61.092864">#{{ base0E }}</tspan></text>
    <rect x="186" y="45.148" width="22.434" height="24.093" fill="#{{ base0F }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="197.54395" y="55.801239" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:50.7854;white-space:pre" xml:space="preserve"><tspan x="197.54395" y="55.801239">Base0F
</tspan><tspan x="197.54395" y="61.092864">#{{ base0F }}</tspan></text>
    <rect x="1.1882" y="45.148" width="22.434" height="24.093" fill="#{{ base08 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="12.404916" y="55.801239" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:34.7202;white-space:pre" xml:space="preserve"><tspan x="12.404916" y="55.801239">Base08
</tspan><tspan x="12.404916" y="61.092864">#{{ base08 }}</tspan></text>
    <rect x="1.1882" y="17.22" width="22.434" height="24.093" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="12.404916" y="27.736858" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="12.404917" y="27.736858" text-align="center">Base00</tspan><tspan x="12.404917" y="33.028519" text-align="center">#{{ base00 }}</tspan></text>
    <rect x="27.59" y="73.075" width="22.434" height="24.093" fill="#{{ red }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="38.807182" y="83.547935" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="38.807182" y="83.547935" text-align="center">Red</tspan><tspan x="38.807182" y="88.8396" text-align="center">#{{ red }}</tspan></text>
    <rect x="80.395" y="73.075" width="22.434" height="24.093" fill="#{{ yellow }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="91.61171" y="83.547935" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:33.3863;white-space:pre" xml:space="preserve"><tspan x="91.61171" y="83.547935">Yellow
</tspan><tspan x="91.61171" y="88.839564">#{{ yellow }}</tspan></text>
    <rect x="53.993" y="73.075" width="22.434" height="24.093" fill="#{{ green }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="65.20945" y="83.547935" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:34.6639;white-space:pre" xml:space="preserve"><tspan x="65.20945" y="83.547935">Green
</tspan><tspan x="65.20945" y="88.839564">#{{ green }}</tspan></text>
    <rect x="106.8" y="73.075" width="22.434" height="24.093" fill="#{{ blue }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="118.92744" y="83.547935" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="118.92744" y="83.547935" text-align="center">Blue</tspan><tspan x="118.92744" y="88.8396" text-align="center">#{{ blue }}</tspan></text>
    <rect x="133.2" y="73.075" width="22.434" height="24.093" fill="#{{ base0F }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="145.3297" y="83.547935" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="145.3297" y="83.547935" text-align="center">Magenta</tspan><tspan x="145.3297" y="88.8396" text-align="center">#{{ base0F }}</tspan></text>
    <rect x="159.6" y="73.075" width="22.434" height="24.093" fill="#{{ base0C }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="171.73196" y="83.547935" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="171.73196" y="83.547935" text-align="center">Cyan</tspan><tspan x="171.73196" y="88.8396" text-align="center">#{{ base0C }}</tspan></text>
    <rect x="186" y="73.075" width="22.434" height="24.093" fill="#{{ base04 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="198.13423" y="83.547935" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="198.13423" y="83.547935" text-align="center">White</tspan><tspan x="198.13423" y="88.8396" text-align="center">#{{ base04 }}</tspan></text>
    <rect x="27.59" y="101" width="22.434" height="24.093" fill="#{{ base08 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text transform="translate(-.091567 -2.5945)" x="38.807182" y="111.61232" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:34.4785;white-space:pre" xml:space="preserve"><tspan x="38.807182" y="111.61232">Bright
</tspan><tspan x="38.807182" y="116.90395">Red
</tspan><tspan x="38.807182" y="122.19557">#{{ base05 }}</tspan></text>
    <rect x="80.395" y="101" width="22.434" height="24.093" fill="#{{ base0A }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="91.61171" y="109.01784" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="91.61171" y="109.01784">Bright</tspan><tspan x="91.61171" y="114.30946">Yellow</tspan><tspan x="91.61171" y="119.60109">#{{ base0A }}</tspan></text>
    <rect x="53.993" y="101" width="22.434" height="24.093" fill="#{{ base0B }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text transform="translate(0 -2.5945)" x="65.20945" y="111.61232" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:38.0789;white-space:pre" xml:space="preserve"><tspan x="65.20945" y="111.61232">Bright
</tspan><tspan x="65.20945" y="116.90395">Green
</tspan><tspan x="65.20945" y="122.19557">#{{ base0B }}</tspan></text>
    <rect x="106.8" y="101" width="22.434" height="24.093" fill="#{{ bright_blue }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="118.01701" y="108.86385" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="118.01701" y="108.86385">Bright</tspan><tspan x="118.01701" y="114.15548">Blue</tspan><tspan x="118.01701" y="119.44711">#{{ bright_blue }}</tspan></text>
    <rect x="133.2" y="101" width="22.434" height="24.093" fill="#{{ base0E }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="144.41699" y="109.01784" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="144.41699" y="109.01784">Bright</tspan><tspan x="144.41699" y="114.30946">Magenta</tspan><tspan x="144.41699" y="119.60109">#{{ base0E }}</tspan></text>
    <rect x="159.6" y="101" width="22.434" height="24.093" fill="#{{ base0D }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="170.817" y="109.01784" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="170.817" y="109.01784">Bright</tspan><tspan x="170.817" y="114.30946">Cyan</tspan><tspan x="170.817" y="119.60109">#{{ base0D }}</tspan></text>
    <rect x="186" y="101" width="22.434" height="24.093" fill="#{{ base05 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="197.217" y="109.01784" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="197.217" y="109.01784">Bright</tspan><tspan x="197.217" y="114.30946">White</tspan><tspan x="197.217" y="119.60109">#{{ base05 }}</tspan></text>
    <rect x="1.1882" y="101" width="22.434" height="24.093" fill="#{{ base02 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text transform="translate(-.091023 -2.5945)" x="12.404916" y="111.61232" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:32.2509;white-space:pre" xml:space="preserve"><tspan x="12.404916" y="111.61232">Bright
</tspan><tspan x="12.404916" y="116.90395">Black
</tspan><tspan x="12.404916" y="122.19557">#{{ base02 }}</tspan></text>
    <rect x="1.1882" y="73.075" width="22.434" height="24.093" fill="#{{ base01 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="12.404916" y="83.547935" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="12.404917" y="83.547935" text-align="center">Black</tspan><tspan x="12.404917" y="88.8396" text-align="center">#{{ base01 }}</tspan></text>
    <rect x="27.59" y="128.93" width="22.434" height="24.093" fill="#{{ base09 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="38.807182" y="139.44658" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:34.1168;white-space:pre" xml:space="preserve"><tspan x="38.807182" y="139.44658">Orange
</tspan><tspan x="38.807182" y="144.7382">#{{ base09 }}</tspan></text>
    <rect x="80.395" y="128.93" width="22.434" height="24.093" fill="#{{ base06 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="91.61171" y="139.44658" fill="#{{ base00 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:31.4831;white-space:pre" xml:space="preserve"><tspan x="91.61171" y="139.44658">FG
</tspan><tspan x="91.61171" y="144.7382">#{{ base06 }}</tspan></text>
    <rect x="53.993" y="128.93" width="22.434" height="24.093" fill="#{{ base00 }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="65.20945" y="139.44658" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:34.7153;white-space:pre" xml:space="preserve"><tspan x="65.20945" y="139.44658">BG
</tspan><tspan x="65.20945" y="144.7382">#{{ base00 }}</tspan></text>
    <rect x="27.59" y="156.86" width="22.434" height="24.093" fill="#{{ accent }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="38.807182" y="164.72095" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="38.807182" y="164.72095" text-align="center">Bright</tspan><tspan x="38.807182" y="170.0126" text-align="center">Accent</tspan><tspan x="38.807182" y="175.30428" text-align="center">#{{ bright_accent }}</tspan></text>
    <rect x="1.1882" y="156.86" width="22.434" height="24.093" fill="#{{ bright_accent }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="12.404917" y="167.45567" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan x="12.404918" y="167.45567" text-align="center">Accent</tspan><tspan x="12.404918" y="172.74733" text-align="center">#{{ accent }}</tspan></text>
    <rect x="1.1882" y="128.93" width="22.434" height="24.093" fill="#{{ pink }}" style="font-variation-settings:'wght' 400;paint-order:markers fill stroke"/>
    <text x="12.404916" y="139.44658" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" style="inline-size:28.7884;white-space:pre" xml:space="preserve"><tspan x="12.404916" y="139.44658">Pink
</tspan><tspan x="12.404916" y="144.7382">#{{ pink }}</tspan></text>
    <text x="204.19872" y="119.95423" fill="#{{ base06 }}" font-family="Monospace" font-size="4.2333px" stroke-width=".481" text-align="center" text-anchor="middle" xml:space="preserve"><tspan stroke-width=".481"/></text>
</svg>
