{
	"type": "dark",
	"colors": {
		"dropdown.background": "{{ background }}",
		"list.activeSelectionBackground": "{{ background }}",
		"quickInputList.focusBackground": "{{ background }}",
		"list.inactiveSelectionBackground": "{{ blue }}",
		"list.hoverBackground": "{{ black }}",
		"list.highlightForeground": "{{ yellow }}",
		"button.background": "{{ bright-black }}",
		"editor.background": "{{ background }}",
		"editor.foreground": "{{ bright-white }}",
		"editor.selectionBackground": "{{ white }}80",
		"minimap.selectionHighlight": "{{ white }}80",
		"editor.selectionHighlightBackground": "{{ yellow }}80",
		"editor.lineHighlightBackground": "{{ bright-black }}",
		"editorLineNumber.activeForeground": "{{ white }}",
		"editor.wordHighlightBackground": "{{ white }}80",
		"editor.wordHighlightStrongBackground": "{{ blue }}80",
		"editorCursor.foreground": "{{ bright-white }}",
		"editorWhitespace.foreground": "{{ bright-yellow }}",
		"editorIndentGuide.background": "{{ bright-yellow }}",
		"editorIndentGuide.activeBackground": "{{ yellow }}",
		"editor.findRangeHighlightBackground": "{{ bright-white }}40",
		"editorGroupHeader.tabsBackground": "{{ background }}",
		"tab.inactiveBackground": "{{ bright-black }}",
		"tab.border": "{{ bright-black }}",
		"tab.inactiveForeground": "{{ bright-white }}",
		"tab.lastPinnedBorder": "{{ bright-black }}",
		"peekView.border": "{{ cyan }}",
		"panelTitle.activeForeground": "{{ bright-white }}",
		"statusBar.background": "{{ black }}",
		"statusBar.debuggingBackground": "{{ magenta }}",
		"statusBar.noFolderBackground": "{{ bright-black }}",
		"titleBar.activeBackground": "{{ black }}",
		"statusBarItem.remoteBackground": "{{ cyan }}",
		"ports.iconRunningProcessForeground": "{{ bright-white }}",
		"activityBar.background": "{{ background }}",
		"activityBar.inactiveForeground": "{{ white }}",
		"activityBarBadge.background": "{{ cyan }}",
        "activityBar.foreground": "{{ bright-cyan }}",
		"sideBar.background": "{{ background }}",
		"sideBarSectionHeader.background": "{{ bright-black }}",
		"menu.background": "{{ bright-black }}",
		"menu.foreground": "{{ bright-white }}",
		"pickerGroup.foreground": "{{ bright-white }}",
		"inputOption.activeBorder": "{{ cyan }}",
		"focusBorder": "{{ cyan }}",
		"terminal.ansiBlack": "{{ black }}",
		"terminal.ansiRed": "{{ red }}", // the bright color with ~75% transparent on the background
		"terminal.ansiGreen": "{{ green }}",
		"terminal.ansiYellow": "{{ yellow }}",
		"terminal.ansiBlue": "{{ blue }}",
		"terminal.ansiMagenta": "{{ magenta }}",
		"terminal.ansiCyan": "{{ cyan }}",
		"terminal.ansiWhite": "{{ white }}",
		"terminal.ansiBrightBlack": "{{ bright-black }}",
		"terminal.ansiBrightRed": "{{ bright-red }}",
		"terminal.ansiBrightGreen": "{{ bright-green }}",
		"terminal.ansiBrightYellow": "{{ bright-yellow }}", // hue shifted {{ bright-green }}
		"terminal.ansiBrightBlue": "{{ bright-blue }}", // hue shifted {{ bright-magenta }}
		"terminal.ansiBrightMagenta": "{{ bright-magenta }}",
		"terminal.ansiBrightCyan": "{{ bright-cyan }}",
		"terminal.ansiBrightWhite": "{{ bright-white }}",
		"terminal.inactiveSelectionBackground": "{{ white }}40",
        "input.background": "{{ bright-black }}"
	},
	"tokenColors": [
		{
			"settings": {
				"foreground": "{{ bright-white }}"
			}
		},
		{
			"scope": [
				"meta.embedded",
				"source.groovy.embedded"
			],
			"settings": {
				"foreground": "{{ bright-white }}"
			}
		},
		{
			"name": "Comments",
			"scope": [
				"comment",
				"string.quoted.docstring"
			],
			"settings": {
				"fontStyle": "",
				"foreground": "{{ white }}"
			}
		},
		{
			"name": "String",
			"scope": "string",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "String Embedded Source",
			"scope": "string source",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "Number",
			"scope": "constant.numeric",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-cyan }}"
			}
		},
		{
			"name": "Built-in constant",
			"scope": "constant.language",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "User-defined constant",
			"scope": "constant.character, constant.other",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-blue }}",
			}
		},
		{
			"name": "Keyword",
			"scope": "keyword",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-cyan }}"
			}
		},
		{
			"name": "Support",
			"scope": "support",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-red }}"
			}
		},
		{
			"name": "Storage",
			"scope": "storage",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "Class name",
			"scope": "entity.name.class, entity.name.type, entity.name.namespace, entity.name.scope-resolution",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-red }}",
			}
		},{
			"name": "Inherited class",
			"scope": "entity.other.inherited-class",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ red }}"
			}
		},
		{
			"name": "Function name",
			"scope": "entity.name.function",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-blue }}"
			}
		},
		{
			"name": "Function argument",
			"scope": "variable.parameter",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-cyan }}"
			}
		},
		{
			"name": "Tag name",
			"scope": "entity.name.tag",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "Tag attribute",
			"scope": "entity.other.attribute-name",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "Library function",
			"scope": "support.function",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "Keyword",
			"scope": "keyword",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ white }}"
			}
		},
		{
			"name": "Class Variable",
			"scope": "variable.other, variable.js, punctuation.separator.variable",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-cyan }}"
			}
		},
		{
			"name": "Meta Brace",
			"scope": "punctuation.section.embedded -(source string source punctuation.section.embedded), meta.brace.erb.html",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "Invalid",
			"scope": "invalid",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ red }}"
			}
		},
		{
			"name": "Normal Variable",
			"scope": "variable.other.php, variable.other.normal",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-cyan }}"
			}
		},
		{
			"name": "Function Object",
			"scope": "meta.function-call.object",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "Function Call Variable",
			"scope": "variable.other.property",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "Keyword Control / Special",
			"scope": [
				"keyword.control",
				"keyword.operator.new.cpp",
				"keyword.operator.delete.cpp",
				"keyword.other.using",
				"keyword.other.operator"
			],
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "Tag",
			"scope": "meta.tag",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "Tag Name",
			"scope": "entity.name.tag",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-cyan }}"
			}
		},
		{
			"name": "Doctype",
			"scope": "meta.doctype, meta.tag.sgml-declaration.doctype, meta.tag.sgml.doctype",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "Tag Inline Source",
			"scope": "meta.tag.inline source, text.html.php.source",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "Tag Other",
			"scope": "meta.tag.other, entity.name.tag.style, entity.name.tag.script, meta.tag.block.script, source.js.embedded punctuation.definition.tag.html, source.css.embedded punctuation.definition.tag.html",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "Tag Attribute",
			"scope": "entity.other.attribute-name, meta.tag punctuation.definition.string",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "Tag Value",
			"scope": "meta.tag string -source -punctuation, text source text meta.tag string -punctuation",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-cyan }}"
			}
		},
		{
			"name": "Meta Brace",
			"scope": "punctuation.section.embedded -(source string source punctuation.section.embedded), meta.brace.erb.html",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "HTML ID",
			"scope": "meta.toc-list.id",
			"settings": {
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "HTML String",
			"scope": "string.quoted.double.html, punctuation.definition.string.begin.html, punctuation.definition.string.end.html, punctuation.definition.string.end.html source, string.quoted.double.html source",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "HTML Tags",
			"scope": "punctuation.definition.tag.html, punctuation.definition.tag.begin, punctuation.definition.tag.end",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-cyan }}"
			}
		},
		{
			"name": "CSS ID",
			"scope": "meta.selector.css entity.other.attribute-name.id",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "CSS Property Name",
			"scope": "support.type.property-name.css",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ white }}"
			}
		},
		{
			"name": "CSS Property Value",
			"scope": "meta.property-group support.constant.property-value.css, meta.property-value support.constant.property-value.css",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ red }}"
			}
		},
		{
			"name": "JavaScript Variable",
			"scope": "variable.language.js",
			"settings": {
				"foreground": "{{ magenta }}"
			}
		},
		{
			"name": "Template Definition",
			"scope": [
				"punctuation.definition.template-expression",
				"punctuation.section.embedded.coffee"
			],
			"settings": {
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "Reset JavaScript string interpolation expression",
			"scope": [
				"meta.template.expression"
			],
			"settings": {
				"foreground": "{{ bright-white }}"
			}
		},
		{
			"name": "PHP Function Call",
			"scope": "meta.function-call.object.php",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "PHP Single Quote HMTL Fix",
			"scope": "punctuation.definition.string.end.php, punctuation.definition.string.begin.php",
			"settings": {
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "PHP Parenthesis HMTL Fix",
			"scope": "source.php.embedded.line.html",
			"settings": {
				"foreground": "{{ white }}"
			}
		},
		{
			"name": "PHP Punctuation Embedded",
			"scope": "punctuation.section.embedded.begin.php, punctuation.section.embedded.end.php",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "Ruby Symbol",
			"scope": "constant.other.symbol.ruby",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "Ruby Variable",
			"scope": "variable.language.ruby",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "Ruby Special Method",
			"scope": "keyword.other.special-method.ruby",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-yellow }}"
			}
		},
		{
			"name": "Ruby Embedded Source",
			"scope": [
				"punctuation.section.embedded.begin.ruby",
				"punctuation.section.embedded.end.ruby"
			],
			"settings": {
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "SQL",
			"scope": "keyword.other.DML.sql",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "diff: header",
			"scope": "meta.diff, meta.diff.header",
			"settings": {
				"fontStyle": "italic",
				"foreground": "{{ bright-white }}"
			}
		},
		{
			"name": "diff: deleted",
			"scope": "markup.deleted",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-red }}"
			}
		},
		{
			"name": "diff: changed",
			"scope": "markup.changed",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ blue }}"
			}
		},
		{
			"name": "diff: inserted",
			"scope": "markup.inserted",
			"settings": {
				"foreground": "{{ bright-green }}"
			}
		},
		{
			"name": "Markup Quote",
			"scope": "markup.quote",
			"settings": {
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "Markup Lists",
			"scope": "markup.list",
			"settings": {
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "Markup Styling",
			"scope": "markup.bold, markup.italic",
			"settings": {
				"foreground": "{{ bright-cyan }}"
			}
		},
		{
			"name": "Markup Inline",
			"scope": "markup.inline.raw",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ bright-red }}"
			}
		},
		{
			"name": "Markup Headings",
			"scope": "markup.heading",
			"settings": {
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "Markup Setext Header",
			"scope": "markup.heading.setext",
			"settings": {
				"fontStyle": "",
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "Markdown Headings",
			"scope": "markup.heading.markdown",
			"settings": {
				"fontStyle": "bold"
			}
		},
		{
			"name": "Markdown Quote",
			"scope": "markup.quote.markdown",
			"settings": {
				"fontStyle": "italic",
				"foreground": ""
			}
		},
		{
			"name": "Markdown Bold",
			"scope": "markup.bold.markdown",
			"settings": {
				"fontStyle": "bold"
			}
		},
		{
			"name": "Markdown Link Title/Description",
			"scope": "string.other.link.title.markdown,string.other.link.description.markdown",
			"settings": {
				"foreground": "{{ bright-magenta }}"
			}
		},
		{
			"name": "Markdown Underline Link/Image",
			"scope": "markup.underline.link.markdown,markup.underline.link.image.markdown",
			"settings": {
				"foreground": ""
			}
		},
		{
			"name": "Markdown Emphasis",
			"scope": "markup.italic.markdown",
			"settings": {
				"fontStyle": "italic"
			}
		},
		{
			"scope": "markup.strikethrough",
			"settings": {
				"fontStyle": "strikethrough"
			}
		},
		{
			"name": "Markdown Punctuation Definition Link",
			"scope": "markup.list.unnumbered.markdown, markup.list.numbered.markdown",
			"settings": {
				"foreground": ""
			}
		},
		{
			"name": "Markdown List Punctuation",
			"scope": [
				"punctuation.definition.list.begin.markdown"
			],
			"settings": {
				"foreground": ""
			}
		},
		{
			"scope": "token.info-token",
			"settings": {
				"foreground": "{{ cyan }}"
			}
		},
		{
			"scope": "token.warn-token",
			"settings": {
				"foreground": "{{ bright-yellow }}"
			}
		},
		{
			"scope": "token.error-token",
			"settings": {
				"foreground": "{{ bright-red }}"
			}
		},
		{
			"scope": "token.debug-token",
			"settings": {
				"foreground": "{{ bright-blue }}"
			}
		},
		{
			"name": "this.self",
			"scope": "variable.language",
			"settings": {
				"foreground": "{{ red }}"
			}
		}
	],
	"semanticHighlighting": true
}